<!DOCTYPE html>
<html>
<head>
    <title>Sinav Login</title>
</head>
<body>
    <h2>Imtahana daxil olun!</h2>
    <form method="post">
        Ad: <input type="text" name="username" required><br>
        Sinif: 
        <select name="class_grade" required>
            <option value="1">1-ci sinif</option>
            <option value="2">2-ci sinif</option>
            <option value="3">3-ci sinif</option>
            <option value="4">4-ci sinif</option>
            <option value="5">5-ci sinif</option>
            <option value="6">6-ci sinif</option>
            <option value="7">7-ci sinif</option>
            <option value="8">8-ci sinif</option>
            <!-- 11-ci sinif? kimi ?lav? et -->
        </select><br>
        <button type="submit">Daxil ol</button>
    </form>
</body>
</html>
